In [11]:
#import libraries and files
import pandas as pd
import numpy as np

sales = pd.read_csv(r'C:\Users\Emily\Downloads\Telegram Desktop\Data Wrangling Practise\sales.csv')
prices = pd.read_csv(r'C:\Users\Emily\Downloads\Telegram Desktop\Data Wrangling Practise\prices.csv')

In [12]:
#change data type to date time
sales['ordered_at'] = pd.to_datetime(sales['ordered_at'])
prices['updated_at'] = pd.to_datetime(prices['updated_at'])

In [13]:
# sort data frame by date time - ascending
sales= sales.sort_values(by='ordered_at')
prices= prices.sort_values(by='updated_at')

In [14]:
# merge 2 data frames - sales and prices by product id and nearest direction 
merge_sales_prices = pd.merge_asof(sales, prices, left_on='ordered_at', right_on='updated_at', by='product_id', direction='nearest')
print (merge_sales_prices)

     product_id          ordered_at  quantity_ordered  old_price  new_price  \
0       3954203 2018-09-11 01:43:00                 1      68800      60000
1       4085861 2018-09-11 06:26:00                 1      60000      53500
2       4085861 2018-09-11 06:53:00                 1      60000      53500
3       4085861 2018-09-11 08:24:00                 1      60000      53500
4       4085861 2018-09-11 09:30:00                 1      60000      53500
..          ...                 ...               ...        ...        ...
170     4085861 2018-09-18 20:23:00                 1      53500      52000
171     4085861 2018-09-18 20:43:00                 1      53500      52000
172     4085861 2018-09-18 20:54:00                 1      53500      52000
173     3954203 2018-09-18 21:26:00                 1      60500      57500
174     3998909 2018-09-18 22:11:00                 1      15500      16500

             updated_at
0   2018-09-10 16:32:00
1   2018-09-11 08:51:00
2   2018-09-11 08:51:00
3   2018-09-11 08:51:00
4   2018-09-11 08:51:00
..                  ...
170 2018-09-17 22:59:00
171 2018-09-17 22:59:00
172 2018-09-17 22:59:00
173 2018-09-17 22:59:00
174 2018-09-16 05:09:00

[175 rows x 6 columns]

In [15]:
# find the actual sales price of the product by compare ordered_at time and updated_at. if order is made before the updated date -> take old price, after -> new price
merge_sales_prices['final_price'] = np.where(merge_sales_prices['ordered_at'] >=merge_sales_prices['updated_at'],
                                        merge_sales_prices['new_price'], merge_sales_prices['old_price'])

In [16]:
#calculate the revenue
merge_sales_prices['revenue'] = merge_sales_prices['quantity_ordered'] * merge_sales_prices['final_price']
print (merge_sales_prices)

     product_id          ordered_at  quantity_ordered  old_price  new_price  \
0       3954203 2018-09-11 01:43:00                 1      68800      60000
1       4085861 2018-09-11 06:26:00                 1      60000      53500
2       4085861 2018-09-11 06:53:00                 1      60000      53500
3       4085861 2018-09-11 08:24:00                 1      60000      53500
4       4085861 2018-09-11 09:30:00                 1      60000      53500
..          ...                 ...               ...        ...        ...
170     4085861 2018-09-18 20:23:00                 1      53500      52000
171     4085861 2018-09-18 20:43:00                 1      53500      52000
172     4085861 2018-09-18 20:54:00                 1      53500      52000
173     3954203 2018-09-18 21:26:00                 1      60500      57500
174     3998909 2018-09-18 22:11:00                 1      15500      16500

             updated_at  final_price  revenue
0   2018-09-10 16:32:00        60000    60000
1   2018-09-11 08:51:00        60000    60000
2   2018-09-11 08:51:00        60000    60000
3   2018-09-11 08:51:00        60000    60000
4   2018-09-11 08:51:00        53500    53500
..                  ...          ...      ...
170 2018-09-17 22:59:00        52000    52000
171 2018-09-17 22:59:00        52000    52000
172 2018-09-17 22:59:00        52000    52000
173 2018-09-17 22:59:00        57500    57500
174 2018-09-16 05:09:00        16500    16500

[175 rows x 8 columns]

In [18]:
# calculate total revenue by product and price
total_revenue = merge_sales_prices.groupby(['product_id'])['revenue'].sum()

In [24]:
print (total_revenue)

0       877500
1      8247500
2      8247500
3      8247500
4      8247500
        ...
170    8247500
171    8247500
172    8247500
173     877500
174     280500
Name: revenue, Length: 175, dtype: int64